.Box {
display: grid;
grid-template-columns: repeat(4fr);
grid-template-rows: repeat(4fr);
grid-template-areas: 
"header header header header"
"about about project project"
"skills skils skills skills"
"footer footer footer footer"
;






